@import '_settings'

normalize-css()
base()


 // Set the default font-size as the base font-size

// Px to ems converter
px(value, $base_font)
	(value / $base_font) em

// Set the whole page box sizing to a box sizing

*
	box-sizing:border-box



body
	padding: px(50, 16)
	font-family: "Open sans"
	line-height:1.618em
	color:#444
	background-color:#2c2c2c
	background-image:repeating-radial-gradient(circle, #3a3a3a, #3a3a3a 45%, 
		transparent 45%, transparent 60%,#3a3a3a 60%, #3a3a3a 100%)
	background-size:10px 10px
	

.container
	max-width:50rem
	width:100%
	text-align:center
	margin:5em auto
	

#flip
	display:none
	
.card
	display:block
	padding:0
	margin:0 auto
	width:32rem
	height:20rem 
	transform-style:preserve-3d  	
	 	
.front-card
.back-card
	overflow:hidden
	position:absolute
	height:100%
	width:100%
	box-shadow: rgba(0,0,0,.2) 0 0 3rem 0, rgba(0, 0, 0, .1) 0 0 1rem 0
	

.front-card
	tansform:translateZ(2px)
	border-radius:2rem 0
	color:#cddbea
	background:#2d5077
	
#flip
	&:not(:checked) + label > .card
		transform:rotateY(0deg)
		transition:transform 0.25s
		
#flip
	&:checked + label > .card
		transform:rotateY(180deg)
		transition:transform 0.25s

		
	
	
	
	
	

	
	
